extends layout

block content
    h1= title
    p A squad of robotic rovers are to be landed by NASA on a plateau on Mars.
    p This plateau, which is curiously rectangular, must be navigated by the rovers so that their on board cameras can get a complete view of the surrounding terrain to send back to Earth.
    p A rover's position is represented by a combination of an x and y co-ordinates and a letter representing one of the four cardinal compass points. The plateau is divided up into a grid to simplify navigation. An example position might be 0, 0, N, which means the rover is in the bottom left corner and facing North.
    p In order to control a rover, NASA sends a simple string of letters. The possible letters are 'L', 'R' and 'M'. 'L' and 'R' makes the rover spin 90 degrees left or right respectively, without moving from its current spot.
    p 'M' means move forward one grid point, and maintain the same heading.
    p Assume that the square directly North from (x, y) is (x, y+1).

    h1 Input
    p The first line of input is the upper-right coordinates of the plateau, the lower-left coordinates are assumed to be 0,0.
    p The rest of the input is information pertaining to the rovers that have been deployed. Each rover has two lines of input. The first line gives the rover's position, and the second line is a series of instructions telling the rover how to explore the plateau.
    p The position is made up of two integers and a letter separated by spaces, corresponding to the x and y co-ordinates and the rover's orientation.
    p Each rover will be finished sequentially, which means that the second rover won't start to move until the first one has finished moving.

    p.bold(style="margin-top:40px;") Input Example:
    div 5 5
    div 1 2 N
    div LMLMLMLMM
    div 3 3 E
    div MMRMMRMRRM

    p.bold(style="margin-top:40px;") Output Example:
    div 1 3 N
    div 5 1 E

    p.bold(style="margin-top:40px;") Please, Insert Rovers Input:
    form(style="margin-top:20px;" name="rovers", method="post" action='/api/rovers_position')
        div.input
            textarea(name="input_value", cols="40", rows="10")
            input(type="hidden" name="redirect" value="true")
        div.actions
            input.btn.btn-primary.submit(type="submit", value="Submit")